/*general settings*/
html,body{
  width:100%;
  height:100%;
  margin:0;
}
body{
  background-image: url('/site-img/background.png');
}
/**************************
********HEADER CLASSES*****
**************************/
.site-header{
  background-color: black;
  .section-logo-site-signup{
      color:red;
  }
  .second-navigation{
    color:red;
  }
  nav{
    background-color: #222222;
    width:100%;
    .row{
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .main-navigation{
    border:1px solid #2d2d2d;
  }
  .col-half-offset{
    border-left:1px solid #2d2d2d;
  }
}
.section-search{
  background-color: black;
  color:yellow;
}
